.order{
    margin-left: 65px;
    padding: 5px 40px;
    margin-top: 20px;
    background-color: rgb(90, 143, 145);
}
.review{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.review:hover{
    color: black;
}
